body {

    background-color: #bcd6e0;

    font-family: "Arial", sans-serif;

    margin: 0;

    text-align: center;

}
 
header {

    background-color: #bcd6e0;

    padding: 10px;

    text-align: center;

}
 
.logo {

    height: 70px;

    float: left;

    margin-left: 20px;

}
 
h1 {

    color: navy;

    font-size: 26px;

    letter-spacing: 2px;

    margin: 0;

}
 
nav {
    clear: both;
    text-align: center;
}
nav ul {  /*Styles ther ul in the nav */
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 132, 219);
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 30px;
    font-size: 25px;
    color: #ffffff;
}
nav li a:hover {
    background-color: rgb(137, 174, 226);
}
main {

    background-color: #f6f8f5;

    margin: 20px auto;

    padding: 20px;

    width: 85%;

    border-radius: 10px;

}
 
.image-card {

    position: relative;

    margin: 15px auto;

    border-radius: 15px;

    overflow: hidden;

    cursor: pointer;

    transition: transform 0.3s;

}
 
.image-card:hover {

    transform: scale(1.03);

}
 
.image-card.large {

    width: 90%;

    height: 250px;

    background-image: url("greatwall.jpg");

    background-size: cover;

    background-position: center;

}
 
.image-card.small {

    width: 45%;

    height: 150px;

    display: inline-block;

    background-size: cover;

    background-position: center;

}
 
.image-card p {

    position: absolute;

    bottom: 20px;

    left: 0;

    right: 0;

    font-size: 24px;

    color: black;

    font-weight: bold;

    background-color: rgba(255, 255, 255, 0.6);

    padding: 5px;

}
 
footer {

    background-color: #bcd6e0;

    padding: 15px;

    font-size: 14px;

    color: #003366;

}
* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 20px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 30%; /* 30% width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
 